body {
  font-family: 'Roboto', sans-serif;
}

label {
  padding: 0px 10px 0px 0px;
}

button {
  background-color: #ffbf00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

body a {
  color: black;
}

strong2015 {
  color: #e41a1c;
  font-weight: bold;
}

strong1989 {
  color: #377eb8;
  font-weight: bold;
}

strong1950 {
  color: #4daf4a;
  font-weight: bold;
}

.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  z-index: 50;
  position: absolute;
  border: 1px solid #888;
  color: #111;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 5px 10px;
  margin-top: -8px;
  margin-left: 0px;
  box-shadow: #aaa 0px 0px 1px;
}

.tooltip p.only-child {
  margin: 0px;
}

.domain {
  fill: none;
  stroke: black;
  color: black;
  stroke-width: 0.2px;
}

.title {
  font-size: 1.17em;
  font-weight: bold;
}

.line {
  stroke-width: 2px;
  fill: none;
}

.axis {
  font-size: 10px;
}

.legend {
  font-size: 10px;
}

#container {
  padding-bottom: 50px;
}

#otazka {
  margin-top: 15px;
  margin-bottom: 15px;
}

#odpoved {
  margin-top: 15px;
  font-size: 16px;
}

#poznamka {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

#detail {
  font-size: 12px;
}

#charttitle {
  margin-bottom: 0px;
  font-size: 24px;
}

#chart1, #chart2, #chart3, #chart4 {
  float:left;
}